<div class="container">
    <div class="form-group">
        <form method="POST" action="/auth">
            <label for="username">
                <span>Username</span>
                <input id="username" type="text" name="username" />
            </label>

            <label for="password">
                <span>Password</span>
                <input id="password" type="password" name="password" />
            </label>
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>