<div class="container">
    <div class="container">
        <form id="new-form" method="POST" action="/account">
            <label for="fname">
                <span>First Name</span>
                <input id="first_name" type="text" name="first_name" />
            </label>
    
            <label for="lname">
                <span>Last Name</span>
                <input id="last_name" type="text" name="last_name" />
            </label>

            <label for="email">
                <span>Email</span>
                <input id="email" type="email" name="email" />
            </label>

            <label for="contact">
                <span>contact</span>
                <input id="contact" type="text" name="contact" />
            </label>

            <label for="username">
                <span>Username</span>
                <input id="username" type="text" name="username" />
            </label>

            <label for="password">
                <span>Password</span>
                <input id="password" type="password" name="password" />
            </label>
    
            <input type="submit" value="Submit" />
        </form>
    </div>
    </a>
</div>